<nav>

  <%# ----------------- LOGO ----------------- %>
  <%= link_to shops_path, :class => 'root-link' do %>
    <h1>DuckShop</h1>
  <% end %>

  <%# ----------------- DUCKCOINS USER BOX ----------------- %>
  <div class="duckcoins-user-box">
    <%# ----------------- DUCKCOINS ----------------- %>
    <div class="display-duckcoins-navbar">
    <span>55</span>
    <%= image_tag 'duckoin-a-remplacer.png' %>
    </div>


    <%# ----------------- USER PROFILE / LOG IN ----------------- %>
    <% if current_user != nil %>
      <%= link_to profil_path(current_user), :class => 'user-box' do %>
        <p class="username"><%= current_user.first_name %></p>
        <%= image_tag "gabi-pp.jpg", class: 'avatar' %>
      <% end %>
    <% else %>
      <%= link_to 'Se connecter', new_user_session_path, :class=>"username" %>
    <% end %>
  </div>

</nav>
