<nav>
  <%= link_to shops_path, :class => 'root-link' do %>
    <h1>DuckShop</h1>
  <% end %>
  <% if current_user != nil %>
    <%= link_to profil_path(current_user), :class => 'user-box' do %>
      <p class="username"><%= current_user.email[0..3] %></p>
      <%= image_tag "profile-pic.png", class: 'avatar' %>
    <% end %>
  <% else %>
    <%= link_to 'Se connecter', new_user_session_path, :class=>"username" %>
  <% end %>
</nav>
