<%# BACK LINK %>
  <%= link_to '< Retour à la carte', shops_path, class: 'back-btn' %>

<%# DuckShop Details %>
<div class="d-flex gap-2 mt-2">
  <i class="fa-solid fa-location-dot"></i>
  <p><%= @shop.location %></p>
</div>
<% distance_km = @shop.distance_to([@user.latitude, @user.longitude]) %>
<% distance_min = distance_km * 10 %>
<div class="d-flex justify-content-between align-items-end">
  <div>
    <p><%= distance_km.round(3) %> km</p>
  </div>
  <div class="d-flex gap-2">
    <i class="fa-solid fa-person-walking"></i>
    <p style="font-weight: bold;"><%= distance_min.round(0) %> min</p>
  </div>
</div>

<%# Search Bar %>
<div class="shop-show-container my-2">
  <h3 class="mb-1">Voir disponibilité</h3>
  <%= form_with url: shop_path(@shop), method: :get, class: "search-bar-box" do %>
    <%= text_field_tag :query,
        params[:query],
        class: "input-search",
        placeholder: "Rechercher un produit..."
      %>
    <%= button_tag "S", name: "", class: "search-bar-btn" do %>
    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
    <% end %>
  <% end %>
</div>

<%# categories cards container%>
<div class="shop-show-container" data-controller="see-all">
  <div class="d-flex justify-content-between align-items-end mb-1">
    <h3>Rayon</h3>
    <button id="see-all" data-action="click->see-all#seeAll">tout voir</button>
  </div>
  <%# 4 category cards %>
  <div class="category-container mb-1 row justify-content-around"
          data-see-all-target="cards">
    <% @categories.each do |category| %>
      <div class="card-category col-6">
        <%= link_to shop_category_products_path(@shop, category) do %>
          <%= cl_image_tag category.photo.key %>
          <p><%= category.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# All category cards %>
  <div class="category-container mb-1 row justify-content-around px-1 d-none"
          data-see-all-target="newCards">
    <% @all_categories.each do |category| %>
        <div class="card-category col-6">
        <%= link_to shop_category_products_path(@shop, category) do %>
          <%= cl_image_tag category.photo.key %>
          <p><%= category.name %></p>
        <% end %>
        </div>
    <% end %>
  </div>
</div>

<%# searched items cards %>
<% if params[:query].present? %>
  <div class="product-index-container">

  <% search_results = @shop.products.global_search(params[:query]) %>
  <% if search_results.empty? %>
    <h3 class="my-2">Produits</h3>
    <div class="product-card-box box">
    <p>Aucun prouduit trouvé pour "<%= params[:query] %>".</p>
    </div>
  <% else %>
  <div class="mb-5">
    <h3 class="my-2">Produits</h3>
    <% search_results.each do |product| %>
    <div class="product-card-box box mb-2">
      <div class="img-box">
        <%= image_tag(product.image_url) %>
      </div>
      <div class="info-box">
        <h5 class="name"><%= product.name %></h5>
        <% if product.stock_quantity > 0 %>
          <h5 class="disponibility"><i class="fa-solid fa-circle-check in-stock" style="color: green;"></i><%= product.stock_quantity %> en stock</h5>
        <% else %>
          <h5 class="disponibility"><i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i><%= product.stock_quantity %> pas en stock</h5>
        <% end %>
        <h5 class="price"><%= product.price %>€</h5>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
  </div>
<% end %>


<%# Go to Shop Button %>
<% if current_user != nil %>
  <%= link_to 'Entrer dans le magasin', new_shop_cart_path(@shop.id), class: "shop-button" %>
<% else %>
  <%= link_to 'Connectez-vous !', new_user_session_path, class: "shop-button" %>
<% end %>
