<h1>DuckShop</h1>
<h5><i class="fa-solid fa-location-dot"></i><%= @shop.location %></h5>

<%= form_with url: shop_path(@shop), method: :get, class: "search-bar-box" do %>
    <%= text_field_tag :query,
        params[:query],
        placeholder: "Search Product..."
      %>
    <%= submit_tag "Search", name: "", class: "search-bar-btn" %>
<% end %>

<% @unique_categories.each do |category| %>
  <div>
    <%= link_to "#{category}", shop_products_path(@shop, :category => category) %>
  </div>
<% end %>

<% if params[:query].present? %>
  <% Product.global_search(params[:query]).each do |product| %>
  <h3><%= product.name %></h3>
  <p><%= product.description %></p>
  <p>Stock: <%= product.stock_quantity %></p>
  <p>Category: <%= product.category %></p>
  <% end %>
<% end %>
