<%# DuckShop Details %>
<h3> DuckShop </h3>
<div class="d-flex gap-2">
  <i class="fa-solid fa-location-dot"></i>
  <p><%= @shop.location %></p>
</div>
<% distance_km = @shop.distance_to([@user.latitude, @user.longitude]) %>
<% distance_min = distance_km * 10 %>
<div class="d-flex justify-content-between align-items-end">
  <div>
    <p><%= distance_km.round(3) %> km</p>
  </div>
  <div class="d-flex gap-2">
    <i class="fa-solid fa-person-walking"></i>
    <p style="font-weight: bold;"><%= distance_min.round(0) %> min</p>
  </div>
</div>

<%# Search Bar %>
<div class="shop-show-container my-2 p-3">
  <h3 class="my-2">Voir disponibilité</h3>
  <%= form_with url: shop_path(@shop), method: :get, class: "search-bar-box" do %>
    <%= text_field_tag :query,
        params[:query],
        class: "input-search",
        placeholder: "Search a product..."
      %>
    <%= button_tag "S", name: "", class: "search-bar-btn" do %>
    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
    <% end %>
  <% end %>
</div>

<%# categories cards %>
<div class="shop-show-container my-2 p-3">
  <div class="d-flex justify-content-between mt-2 align-items-end">
    <h3>Rayon</h3>
    <p>tout voir</p>
  </div>
  <div class="category-container mt-2 row justify-content-around">
    <% @categories.each do |category| %>
      <div class="card-category col-6">
        <%= link_to shop_products_path(@shop, category: category) do %>
          <%= cl_image_tag category.photo.key %>
          <% end %>
          <p><%= category.name %></p>
        </div>
    <% end %>
  </div>
</div>

  <%# searched items cards %>
  <div class="shop-show-container my-2 p-3">
    <h3 class="my-2">Produits</h3>

    <% if params[:query].present? %>
    <% @shop.products.global_search(params[:query]).each do |product| %>

    <div class="product-card-box box">
      <div class="img-box">
          <%= image_tag(product.image_url) %>
      </div>
      <h3 class="name"><%= product.name %></h3>
       <% if product.stock_quantity > 0 %>
            <h5 class="disponibility"><i class="fa-solid fa-circle-check in-stock" style="color: green;"></i><%= product.stock_quantity %> en stock</h5>
          <% else %>
            <h5 class="disponibility"><i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i><%= product.stock_quantity %> pas en stock</h5>
          <% end %>
        </div>
      <h5 class="price"><%= product.price %>€</h5>
      <% end %>
    <% end %>
    </div>
  </div>

<%# Go to Shop Button %>
<%= link_to 'Entrer le magasin', new_shop_cart_path(@shop.id), class: "shop-button" %>
