<%# DuckShop Details %>
<h3> DuckShop </h3>
<div class="d-flex gap-2">
  <i class="fa-solid fa-location-dot"></i>
  <p><%= @shop.location %></p>
</div>
<% distance_km = @shop.distance_to([@user.latitude, @user.longitude]) %>
<% distance_min = distance_km * 10 %>
<div class="d-flex justify-content-between align-items-end">
  <div>
    <p><%= distance_km.round(3) %> km</p>
  </div>
  <div class="d-flex gap-2">
    <i class="fa-solid fa-person-walking"></i>
    <p style="font-weight: bold;"><%= distance_min.round(0) %> min</p>
  </div>
</div>

<%# Search Bar %>
<div class="shop-show-container my-2 p-3">
  <h3 class="my-2">Voir disponibilité</h3>
  <%= form_with url: shop_path(@shop), method: :get, class: "search-bar-box" do %>
    <%= text_field_tag :query,
        params[:query],
        class: "input-search",
        placeholder: "Search a product..."
      %>
    <%= button_tag "S", name: "", class: "search-bar-btn" do %>
    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
    <% end %>
  <% end %>
</div>

<%# categories cards %>
<div class="shop-show-container my-2 p-3">
  <div class="d-flex justify-content-between mt-2 align-items-end">
    <h3>Rayon</h3>
    <p>tout voir</p>
  </div>
  <div class="category-container mt-2 row justify-content-around">
    <% @categories.each do |category| %>
      <div class="card-category col-6">
        <%= link_to shop_products_path(@shop, category: category) do %>
          <%= cl_image_tag category.photo.key %>
          <p><%= category.name %></p>
    <% end %>
        </div>
    <% end %>
  </div>
</div>

  <%# searched items cards %>
  <div class="shop-show-container my-2 p-3">
    <% if params[:query].present? %>
      <h3 class="my-2">Produits</h3>
      <% @shop.products.global_search(params[:query]).each do |product| %>
      <h3><%= product.name %></h3>
      <p><%= product.description %></p>
      <p>Stock: <%= product.stock_quantity %></p>
      <p>Category: <%= product.category.name %></p>
      <% end %>
    <% end %>
  </div>

<%# Go to Shop Button %>
<%= link_to 'Go to Shop', new_shop_cart_path(@shop.id), class: "shop-button" %>
