<%= render 'components/sidebar' %>
<div class='container-ca-day'>
  <h3>Chiffre d'affaires de la journée</h3>
  <div class='info-ca'>
    <div class='border-right'>
      <h2><%= @carts_count %></h2>
      <p>Nombres de paniers</p>
    </div>
    <div class='border-right'>
      <h2><%= @turnover %> €</h2>
      <p>Chiffre d'affaires</p>
    </div>
    <div>
      <h2><%= @moy_cart %> €</h2>
      <p>Panier moyen</p>
    </div>
  </div>
</div>
<div class="graphique">
  <canvas
    data-controller="chart"
    data-chart-data-value="<%= @chart_data.to_json %>"
    data-chart-options-value="<%= @chart_options.to_json %>"
    class="mx-auto chart-js-finance"

  >
  </canvas>
</div>
