<div data-bar-code-target='itemsContainer'>
  <div class="cart-items-container mt-3">
    <div class="d-flex justify-content-between align-items-end">
      <h3>Mon Panier</h3>
      <div class="top-basket-box">
        <p class="top-basket"><%= items.sum { |item| item.quantity}%></p>
        <h3><i class="fa-solid fa-basket-shopping"></i></h3>
      </div>
    </div>
      <% items.each do |item| %>
      <div class="cart-item d-flex">
        <div class="img-box">
          <%= image_tag(item.product.image_url) %>
        </div>
        <div class="info-box">
          <h5 class="name"><%= item.product.name %></h5>
          <div>
            <%= link_to cart_item_path(@cart, item, { quantity: 'minus' }), data: { turbo_method: :patch } do %>
              <i class="fa-solid fa-circle-minus"></i>
            <% end %>
            <%= item.quantity %>
            <%= link_to cart_item_path(@cart, item, { quantity: 'plus' }), data: { turbo_method: :patch } do %>
              <i class="fa-solid fa-circle-plus"></i>
            <% end %>
          </div>
          <h5 class="price"><%= (item.product.price * item.quantity).round(2)%>€</h5>
        </div>
        <%= link_to '+', cart_item_path(@cart, item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-button"%>
      </div>
      <% end %>
  <%# ------------------- TOTAL AND PAY BUTTON -------------------------------- %>
  <div class="bottom">
    <div>
      <p>Total: <%= total_price.round(2) %> €</p>
    </div>
    <%= link_to "Payer", cart_path(@cart), class: "pay-button"%>
  </div>
</div>
