<div class='display-coin mb-3 c-a-1'>
  <p>Mon portefeuille</p>
  <p class='solde'>55 <%= image_tag "duckcoin.svg" %></p>
</div>
<div class='profil-btns c-a-2'>
  <%= link_to duckcoin_profils_path, class: 'btn-profil' do %>
    <i class="fa-solid fa-wallet"></i>
    <p>Duckcoins</p>
  <% end %>
  <%= link_to profil_path(current_user), class: 'btn-profil' do %>
    <i class="fa-solid fa-user"></i>
    <p>Mon profil</p>
  <% end %>
</div>

<%#---------------------------- ALL CARTS ------------------------------------%>
<h3 class="mb-2 historique c-a-3">Mon historique</h3>

<div class="carts-container c-a-4">
  <% @carts.each do |cart| %>
    <%= link_to cart_path(cart) do%>
    <div class="cart-box-shop d-flex">
      <div>
          <h3><%= image_tag 'logo-duckonly-duckshop.png' %>  <%= cart.shop.location %></h3>
        <div class="d-flex justify-content-around mt-1">
          <p><%= cart.items.count %> produits •</p>
          <p><%= cart.items.map{|item| item.quantity * item.product.price}.sum.round(2) %>€ •</p>
          <p id="p"> Terminé</p>
        </div>
      </div>

      <div id="date">
        <%= cart.date_achat %>

      </div>
      <% end %>
    </div>
  <% end %>
</div>
