<div class='display-coin'>
  <p>Mon solde duck coin</p>
  <p>55 <%= image_tag "duckcoin.svg" %></p>
</div>
<div class='profil-btns'>
  <%= link_to duckcoin_profils_path, :class => 'btn-profil' do %>
    <%= image_tag "wallet.svg" %>
    <p>Mes duckcoins</p>
  <% end %>
  <%= link_to profil_path(current_user), :class => 'btn-profil' do %>
    <%= image_tag "user.svg" %>
    <p>Mon profil</p>
  <% end %>
</div>

<%#---------------------------- ALL CARTS ------------------------------------%>
<h3>Mon historique</h3>
<% @carts.each do |cart| %>
  <div class="cart-box-shop">
    <%= link_to cart_path(cart) do%>
      <div class="cart-shop">
          <%= image_tag 'pin-map.png', class: "duck-pin-card-shop-index", id:"duck-pin-cart" %>
          <div class="location-carts"><%= cart.shop.location %></div>
      </div>
      <div class="products-price-finish">
        <%= cart.items.count %> produits •
        <%= cart.items.map{|item| item.quantity * item.product.price}.sum.round(2) %>€ •
        <p id="p"> Terminé</p>
      </div>
    <% end %>
  </div>
<% end %>
