<h3 id="h3">Mon ticket de caisse</h3>
<div class="show-item">
  <% total_price = 0 %>
  <% @items.each do |item| %>
    <div class= "item-box">
      <div class="flex-item">
        <div class="quantity"><%= item.quantity %>x</div>
        <div class="name"><%= item.product.name %></div>
      </div>
      <div class="price"><%= item.product.price %>€</div>
    </div>
    <% total_price += (item.product.price * item.quantity) %>
  <% end %>
  <div id="bar">- - - - - - - - - </div>
  <div class="total">
    <h5 id="h5">TOTAL</h5>
      <div class="total-price"><%= total_price.round(2) %>€</div>
  </div>
</div>
<% if !@cart.paid? %>
  <%= link_to 'Payer', finish_shop_cart_path(@shop, @cart), class: 'button' %>
<% end %>
