<div class='display-coin'>
  <p>Mon solde duck coin</p>
  <p>55 <%= image_tag "duckcoin.svg" %></p>
</div>
<div class='profil-btns'>
  <%= link_to profil_path(current_user), :class => 'btn-profil' do %>
    <%= image_tag "wallet.svg" %>
    <p>Mon profil</p>
  <% end %>
  <%= link_to carts_path, :class => 'btn-profil' do %>
    <%= image_tag "cart.svg" %>
    <p>Mes achats</p>
  <% end %>
</div>


<div class="input-group mb-3 add-duckcoins-input">
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>
</div>

<%#  ---------- add duckoins Button ----------  %>
<div class="add-duckoins-button-box">
    <%= link_to 'Alimenter mon compte', new_user_session_path, class: "add-duckcoins-button" %>
</div>
