<div class='display-coin'>
  <p>Mon solde duck coin</p>
  <p>55 <%= image_tag "duckcoin.svg" %></p>
</div>
<div class='profil-btns'>
  <%= link_to duckcoin_profils_path, :class => 'btn-profil' do %>
    <%= image_tag "wallet.svg" %>
    <p>Mes duckcoins</p>
  <% end %>
  <%= link_to carts_path, :class => 'btn-profil' do %>
    <%= image_tag "cart.svg" %>
    <p>Mes achats</p>
  <% end %>
</div>
<div class="display-profil">
  <div class='container-img-profil'>
    <%= image_tag "profile-pic.png", class: "img-profil" %>
    <div>
      <h2>Pierre</h2>
      <h2>Cailloux</h2>
    </div>
  </div>
  <div class='display-info-user'>
    <h3>mail</h3>
    <p><%= current_user.email %></p>
    <h3>code postal</h3>
    <p><%= current_user.address.split(",")[1].split(" ")[0] %></p>
    <h3>ville</h3>
    <p><%= current_user.address.split(",")[1].split(" ")[1] %></p>
  </div>
  <div class='profil-btns'>
    <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: 'btn-profil small log-out' %>
    <%= link_to 'Modifier', edit_user_registration_path, class: "btn-profil small" %>
  </div>
</div>
