
<div class="product-index-container">

  <div class="category-banner">
    <h1><%= params["category"] %></h1>
  </div>

  <% @shop.products.each do |product| %>
    <%= link_to shop_product_path(@shop, product, params["category"]) do%>

      <div class="product-card-box box">

        <div class="img-box">
          <%= image_tag(product.image_url) %>
        </div>

        <div>
          <h5 class="name"><%= product.name %></h5>
          <p class="stock_quantity"><%= product.stock_quantity %> en stock</p>

          <% if product.stock_quantity > 0 %>
            <h5 class="disponibility"><i class="fa-solid fa-circle-check in-stock"></i><%= product.stock_quantity %> en stock</h5>
          <% else %>
            <h5 class="disponibility"><i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i><%= product.stock_quantity %> pas en stock</h5>
          <% end %>
        </div>

        <h5 class="price"><%= product.price %>€</h5>
      </div>

    <% end %>
  <% end %>



</div>
