<div class="product-index-container" data-controller = "search">

  <%# BACK LINK %>
  <%= link_to '< Retour au DuckShop', shop_path(@shop.id), class: 'back-btn' %>

  <%# BANNER %>
    <div class="category-banner" style="background-image: url(<%= cl_image_path(@category.photo.key) %>)">
      <h1><%= @category.name %></h1>
    </div>

  <%# Search Bar %>
    <%= form_with url: shop_category_products_path(@shop, @category), method: :get, class: "search-bar-box search-bar-box-product-index", data: {search_target: "form"} do %>
      <%= text_field_tag :query,
          params[:query],
          class: "input-search",
          placeholder: "Cherchez un produit...",
          data: {search_target: "input",
          action: "keyup->search#update"}
        %>
      <%= button_tag "S", name: "", class: "search-bar-btn"  do %>
      <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
      <% end %>
    <% end %>

  <%# PRODUCT LIST PER CATEGORY %>
  <div data-search-target="currentList">
    <% @products.each do |product| %>
      <%= link_to shop_category_product_path(@shop, @category, product) do%>
        <div class="product-card-box box mb-2 p-index-down">
          <div class="img-box">
            <%= image_tag(product.image_url) %>
          </div>
          <div class="info-box">
            <h5 class="product-index-name-card-product"><%= product.name %></h5>
            <% if product.stock_quantity > 0 %>
              <h5 class="disponibility"><i class="fa-solid fa-circle-check in-stock" style="color: green;"></i><%= product.stock_quantity %> en stock</h5>
            <% else %>
              <h5 class="disponibility"><i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i><%= product.stock_quantity %> pas en stock</h5>
            <% end %>
          </div>
          <div class="price"><span><%= product.price %></span><%= image_tag 'duckcoin-white.png' %></div>
        </div>
      <% end %>
    <% end %>
  </div>
<%= render 'products/list', products: @products %>
</div>
