<div class="product-index-container">

  <%# BACK LINK %>
  <%= link_to '< Retour au DuckShop', shop_path(@shop.id), class: 'back-btn' %>

  <%# BANNER %>
    <div class="category-banner" style="background-image: url(<%= cl_image_path(@category.photo.key) %>)">
      <h1><%= @category.name %></h1>
    </div>

  <%# Search Bar %>
    <%= form_with url: shop_category_products_path(@shop, @category), method: :get, class: "search-bar-box search-bar-box-product-index" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "input-search",
          placeholder: "Cherchez un produit..."
        %>
      <%= button_tag "S", name: "", class: "search-bar-btn" do %>
      <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
      <% end %>
    <% end %>

  <%# PRODUCT LIST PER CATEGORY %>
  <div>
    <% @products.each do |product| %>
      <%= link_to shop_category_product_path(@shop, @category, product) do%>

        <div class="product-card-box box mb-2">

          <div class="img-box">
            <%= image_tag(product.image_url) %>
          </div>

        <div class="info-box">
          <h5 class="product-index-name-card-product"><%= product.name %></h5>


            <% if product.stock_quantity > 0 %>
              <h5 class="disponibility"><i class="fa-solid fa-circle-check in-stock" style="color: green;"></i><%= product.stock_quantity %> en stock</h5>
            <% else %>
              <h5 class="disponibility"><i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i><%= product.stock_quantity %> pas en stock</h5>
            <% end %>
          </div>

          <div class="price"><span><%= product.price %></span><%= image_tag 'duckcoin-white.png' %></div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# SEARCHED ITEMS %>
  <% if params[:query].present? %>
    <div class="product-index-container">
    <h3 class="my-2">Produits</h3>

    <% search_results = @products.global_search(params[:query]) %>
    <% if search_results.empty? %>
      <p>No products found for "<%= params[:query] %>".</p>
    <% else %>
      <% search_results.each do |product| %>
        <div class="product-card-box box">
          <div class="img-box">
            <%= image_tag(product.image_url) %>
          </div>
          <div class="info-box">
            <h5 class="name"><%= product.name %></h5>
            <% if product.stock_quantity > 0 %>
              <h5 class="disponibility"><i class="fa-solid fa-circle-check in-stock" style="color: green;"></i><%= product.stock_quantity %> en stock</h5>
            <% else %>
              <h5 class="disponibility"><i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i><%= product.stock_quantity %> pas en stock</h5>
            <% end %>
            <h5 class="price"><%= product.price %>€</h5>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>
