<div class="product-show-container">
<%= link_to :back, class:"btn-back-category" do %>
  <%= @product.category %>
 <% end %>
  <div class="box product-img-box">
    <img src="<%= @product.image_url %>" alt="">
  </div>
    <div class="box product-box">
      <div class="name-price-box">
        <h4 class="name"><%= @product.name %></h4>
      </div>
      <div class="unit-category-box">
        <h5 class="unit">350g</h5>
        <h5 class="category"><i class="fa-solid fa-tag"></i><%= @product.category.name %></h5>
      </div>
    </div>

    <div class="box product-stock-box">
      <% if @product.stock_quantity > 0 %>
        <h5 class="disponibility"><i class="fa-solid fa-circle-check in-stock"></i><%= @product.stock_quantity %> en stock</h5>
      <% else %>
        <h5 class="disponibility"><i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i><%= @product.stock_quantity %> pas en stock</h5>
      <% end %>
      <p class="shop"><i class="fa-solid fa-location-dot "></i><%= @product.shop.location %> </p>
    </div>
</div>
