<!DOCTYPE html>
<html>
  <head>
    <title>DuckShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('duck-icon-text.png') %>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'components/navbar' unless @hide_navbar == true %>
    <%= render 'components/navbarmanager' if @navbarmanager == true %>
    <div class="main-container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
    <script>
      var grid1 = new Muuri('.grid-1', {
        dragEnabled: true,
        dragContainer: document.body,
        dragSort: function () {
          return [grid1, grid2]
        }
      });

      var grid2 = new Muuri('.grid-2', {
        dragEnabled: true,
        dragContainer: document.body,
        dragSort: function () {
          return [grid1, grid2]
        }
      });

      const itemsDrag = document.querySelectorAll(".drag");
      itemsDrag.forEach(function (item) {
        item.addEventListener("mouseup", () => {
          item.innerHTML = '<i class="fa-solid fa-circle-check in-stock" style="color: green;"></i>10 en commande'
        });
        item.addEventListener("mousedown", () => {
          console.log("oui")
          document.querySelector(".box-img-de-malade").remove();
        });
      });
    </script>
  </body>
</html>
